.git
.dvc
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.env
data/
notebooks/
youtube.egg-info/
*.pkl
*.log
Dockerfile
.dockerignore
manifest.json
yt-chrome-plugin-frontend/
README.md
LICENSE
dvc.lock
dvc.yaml
params.yaml
experiment_info.json
