.git
.dvc
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.env
data/
notebooks/
# *.pkl (Removing this to allow the vectorizer into the image)
*.log
Dockerfile
.dockerignore
manifest.json
yt-chrome-plugin-frontend/
README.md
LICENSE
dvc.lock
dvc.yaml
params.yaml
experiment_info.json
